<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWSvP03Fv5H65ERwiWYv_GH7UPGdRHqTI</string>
	<key>GCM_SENDER_ID</key>
	<string>265462184047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quietroom</string>
	<key>PROJECT_ID</key>
	<string>quietroom-cuckoo</string>
	<key>STORAGE_BUCKET</key>
	<string>quietroom-cuckoo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265462184047:ios:b9382f27fabb04b0a1759a</string>
</dict>
</plist>